<form action="<%= '/blog/' + blogs[0].id + '/comment'%>" method="POST">
    <label for="inputComment">Comment</label>
    <input type="text" id="inputComment" name="comment"/>
    <button type="submit">Comment</button>
</form>