<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Blog</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div>
        <header>
            <h1 id="title">HOME</h1>
            <p>Newest blogs</p>
            <!--Example loop-->
            <div class="blogContainer">
                <% blogs.forEach(blog => { %>
                    <button class="blog">
                        <p><%= blog.title ? blog.title : "no title" %></p>
                        <p><%= blog.date ? blog.date : "no date" %></p>
                    </button>
                <% });%>
            </div>
            </nav>
        </header>
    </div>
</body>
</html>